<!DOCTYPE html> 

<html>
	<head>
		<title>Delivice</title>
	</head>
	<body>
		
		<header>
	<ul>
		<li><%= link_to 'Kroger', stores_kroger_path %></li>
		<li><%= link_to 'Whole Foods', stores_wholefoods_path %></li>
		<li><%= link_to 'Costco', stores_costco_path %></li>
	</ul>
</header>

	</body>

</html>