<!DOCTYPE html> 

<html>
	<head>
		<title>Delivice</title>
	</head>

	<body>


		<!-- BEGIN: first page dive -->
		<div >
			<h1>Care For Your Body. Care For Your Mind</h1>
			<h1>Care For Your Time</h1>
			<p>Start Shopping</p>
			<p>free delivery for orders over 40 dollers</p>


		</div>
		<!-- END: first page dive -->




		<!-- BEGIN: first page dive -->
		<div >
			<h1>hahahahah</h1>
			<h1>Care For Your Time</h1>
			<p>Start Shopping</p>
			<p>free delivery for orders over 40 dollers</p>


		</div>
		<!-- END: first page dive -->

		
		
		
		<!-- BEGIN: footer that always stay at the bottom -->
		<ul class="footer">
			<span class="legal">
				<li>&copy; 2014</li>
				<li><%= link_to "Privacy", privacy_path %></li>
				<li><%= link_to "Terms", terms_path %></li>
			</span>
			<span class="icons">
				<li><%= link_to image_tag('facebook.png', :class => "icon"), "http://www.facebook.com", :target=> "_blank" %></li>
				<li><%= link_to image_tag('twitter.png', :class => "icon"), "http://www.twitter.com", :target=> "_blank" %></li>
			</span>
		</ul>
		<!-- END: footer that always stay at the bottom -->

	</body>
</html>