/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.partial {
	position: fixed;
	top: 0px;
	background-color: orange;
	color: #FFFFFF;
	margin-top: 0px;
	width: 100%;
	list-style: none;

	#chooseheader1 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	li {
		display: inline-block;
		margin-top: 0px;
	}

	h2 {
		display: inline-block;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	#check1 {
		position: fixed;
		right: 50px;
		margin-top: 0px;
		top: 10px;
		padding-top: 5px;

		li {
			margin-left: 25px;
			font-size: 1.2em;
		}
		
	}

	a, a:visited, a:hover {
		text-decoration: none;
		color: #FFFFFF;
		margin-top: 0px;
	}

	#stores {
		display: inline-block;
		margin: 0px;
	}

}
.cateonleft {
	width: 210px;
	height: 92%;
	overflow: scroll;
	display: inline-block;
	border-right: solid;
	border-right-color: gray;
	text-decoration: none;
	margin-left: -20px;
	position: fixed;
	top: 8%;
	left: 0px;
	bottom: 0px;
	/*background-color: #FFFFFF;*/
	z-index: 10;

	ul {
		list-style: none;
	}

	a, a:visited{
		text-decoration: none;
		color: #000000;
	}

	a:hover {
		background-color: orange;
	}
}





















