
/***************************************
	FOOTER
****************************************/

ul {
	list-style: none;
	li {
		display: inline-block;
	}
}

.footer {
	position: fixed;
	bottom: 18px;
	font-size: 1.2em;


	.icons {
		position: fixed;
		right: 50px;
		bottom: 30px;
	}

	a, a:visited, a:hover {
		text-decoration: none;
		color: purple;
	}
	
}

.icon {
	width: 40px;
	height: 40px;
	margin-left: 30px;
}

.legal li{
	margin-right: 20px;
	margin-left: 20px;
}



/***************************************
	FIRST PAGE
****************************************/



div {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}






























