body {
	margin: 0px;
}

.chooseheader {
	width: 100%;
	background-color: orange;
	position: fixed;
	top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	color: #FFFFFF;
	margin-top: 0px;

	list-style: none;
	li {
		display: inline-block;
		margin-top: 0px;
	}

	h2 {
		display: inline-block;
		margin-top: 12px;
		margin-bottom: 12px;
	}


	#check {
		position: fixed;
		right: 50px;
		margin-top: 0px;
		top: 10px;
		padding-top: 5px;

		li {
			margin-left: 25px;
			font-size: 1.2em;
		}
		
	}

	a, a:visited, a:hover {
		text-decoration: none;
		color: #FFFFFF;
		margin-top: 0px;
	}

}

#choosestore {
	margin-top: 130px;
	text-decoration: none;
	text-align: center;
	font-size: 1.3em;
	text-align: center;
	width: 100%;

	ul {
		list-style: none;
		font-size: 1.5em;
		padding:10px 15px;
		text-align: center;

		li {
			background-color: #E8E8E8;
			padding:10px 15px;
			width:320px;
			border-style: solid;
			margin-top: 20px;
			display: block;
		}

		li:hover {
			background-color: #B0B0B0
		}

	}

	a, a:visited {
		text-decoration: none;
		color: #000000;
		margin-top: 0px;
		padding:10px 50px;
	}

	a:hover {
		text-decoration: none;
		color: #000000;
		margin-top: 0px;
		
	}

}


#tryingtocenter li{
	text-align: center;
	margin: auto;
}











